.div-style-ecaad98d {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  min-width: 375px;
  background: white;
}
.div-style-985675bd {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 136px;
  background: rgba(3, 1, 20, 0.3);
}
