.div-style-a79a2e08 {
  box-sizing: border-box;
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
}
.div-style-faf39c18 {
  position: relative;
  box-sizing: border-box;
  flex: 0 0 auto;
  width: 16px;
  height: 16px;
  overflow: hidden;
  border: 1px solid #7f56d9;
  border-radius: 5.5px;
}
.div-style-faf39c18 input:checked + img {
  display: block;
}
.input-style-daeb62f7 {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  cursor: pointer;
  opacity: 0;
}
.img-style-d066c462 {
  display: none;
  width: 16px;
  max-width: initial;
  height: 16px;
  margin-top: -1px;
  margin-left: -1px;
}
.img-content-aac2ae34 {
  content: url("/assets/image_3c90f19e.png");
}
.p-style-95941fec {
  flex: 1 1 auto;
  padding: 0;
  margin: 0;
  font: 500 14px Inter, sans-serif;
  color: #344054;
  text-align: left;
}
