.div-style-be7cceaa {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding-top: 40px;
  padding-bottom: 30.5px;
}
