.div-style-9676f332 {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  justify-content: flex-start;
  background: white;
  width: 100%;
}
