.div-style-38fd517d {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 10974px;
  padding-right: 90px;
  background: #404040;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.div-style-d492fd70 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 102px;
  align-items: flex-start;
  justify-content: space-between;
  min-width: 10684px;
  padding-top: 100px;
  padding-bottom: 553px;
}
.div-style-2e5165cc {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 6060px;
}
.div-style-f38e9bb8 {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.div-style-50875be3 {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 75.99%;
}
.div-style-a52ab8cd {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  gap: 100px;
  align-items: flex-start;
  justify-content: space-between;
  min-width: 4520px;
  margin-left: -85px;
}
.div-style-1bb8b415 {
  flex: 0 0 auto;
  padding-right: 85px;
  margin-top: 100px;
}
.div-style-62f7521e {
  box-sizing: border-box;
  flex: 0 0 auto;
  width: 24.01%;
  padding-right: 15px;
  padding-bottom: 1004px;
  padding-left: 15px;
}
.div-style-cecf9d5c {
  flex: 0 0 auto;
  padding-left: 4506px;
  margin-top: -1072px;
}
.div-style-6d8ed54c {
  position: relative;
  box-sizing: border-box;
  width: 291px;
  height: 446px;
}
.div-style-7dc07d03 {
  flex: 0 0 auto;
  padding-right: 48px;
  padding-left: 3080px;
  margin-top: -465px;
}
.div-style-567a34b {
  box-sizing: border-box;
  width: 100%;
  background: #f9f9fd;
}
.div-style-aa282700 {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  gap: 90px;
  align-items: flex-start;
  align-self: center;
  justify-content: flex-start;
  margin-top: -333px;
  margin-left: -222px;
}
.div-style-d699e3d8 {
  flex: 0 0 auto;
  padding-top: 119px;
  padding-bottom: 206px;
}
.div-style-a6c6bc57 {
  box-sizing: border-box;
  width: 1304px;
  height: 132px;
  background: white;
  border-top: 1px solid #e9e6e6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.div-style-e7e2cabe {
  flex: 0 0 auto;
  padding-bottom: 325px;
}
.div-style-963a5b17 {
  flex: 0 0 auto;
  align-self: flex-end;
  padding-top: 190px;
}
.div-style-2913ece2 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 291px;
  height: 267px;
  overflow: hidden;
  background: white;
  border: 1px solid #eaecf0;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(16, 24, 40, 0.03), 0px 12px 16px rgba(16, 24, 40, 0.08);
}
.div-style-22364f72 {
  flex: 0 0 auto;
  padding-right: 48px;
  padding-left: 3080px;
  margin-top: -24px;
}
.div-style-8682dc74 {
  box-sizing: border-box;
  flex: 0 0 auto;
  align-self: center;
  width: 1304px;
  height: 132px;
  margin-top: -434px;
  margin-left: 799px;
  background: white;
  border-top: 1px solid #e9e6e6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.div-style-2cdd8dd6 {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 1440px;
  background: #f9f9fd;
}
.div-style-7b103076 {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 40px 48px 39px 826px;
  background: white;
  border-top: 1px solid #e9e6e6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.div-style-b58c2afa {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  padding: 21px 80px;
  overflow: hidden;
  border: 1px solid #e3e1e1;
  border-radius: 8px;
}
.p-style-7c8b8bab {
  flex: 0 0 auto;
  padding: 0;
  margin: 0;
  font: 600 22px/24px Lexend, sans-serif;
  color: #2e2b2b;
}
.div-style-641579b6 {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  padding: 21px 80px;
  margin-left: 40px;
  overflow: hidden;
  background: #5340ff;
  border-radius: 8px;
}
.p-style-7214acde {
  flex: 0 0 auto;
  padding: 0;
  margin: 0;
  font: 600 22px/24px Lexend, sans-serif;
  color: white;
}
