.div-style-1dbe25a5 {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
}
.div-style-e43fa791 {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}
.div-style-693ae125 {
  display: flex;
  flex: 0 0 auto;
  width: 20px;
  height: 20px;
}
