.div-style-8bb5c65b {
  box-sizing: border-box;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 4px;
  padding-bottom: 4px;
}
.div-style-a8fd09bc {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: center;
  align-self: stretch;
  justify-content: flex-start;
  padding: 2px 6px;
}
.div-style-623f8fe2 {
  box-sizing: border-box;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 10px 10px 8px;
  border-radius: 6px;
}
.Input-style-bc70f821 {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: center;
  align-self: stretch;
  justify-content: start;
  min-width: 290px;
  height: 24px;
  padding-left: 0px;
  font: 500 16px Inter, sans-serif;
  color: #101828;
  border: none;
}
.input-style-5226ee4c {
  box-sizing: border-box;
  width: 100%;
  font: 500 16px Inter, sans-serif;
  background: transparent;
  border: none;
  outline: none;
}
.input-style-5226ee4c::placeholder {
  color: #101828;
}
.div-style-3ce59f66 {
  box-sizing: border-box;
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 10px 10px 8px;
  background: #f9fafb;
  border-radius: 6px;
}
.Input-style-808eb0d4 {
  box-sizing: border-box;
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  min-width: 290px;
  height: 24px;
  padding-left: 0px;
  font: 500 16px Inter, sans-serif;
  color: #101828;
  border: none;
}
.div-style-d07507d9 {
  box-sizing: border-box;
  flex: 0 0 auto;
  align-self: stretch;
  height: 2px;
}
