.div-style-d2bf2794 {
  flex: 0 0 auto;
  padding-right: 3px;
  padding-left: 3px;
  margin-top: 80px;
}
.div-style-26b8d608 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
}
.p-style-37475d8f {
  flex: 0 0 auto;
  padding: 0;
  margin: 0;
  font: 500 20px Lexend, sans-serif;
  color: #101828;
}
.span-style-7c1f0749 {
  font: 300 20px Lexend, sans-serif;
}
