.div-style-536ada88 {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: flex-start;
  align-self: stretch;
  justify-content: flex-start;
}
.img-style-ff58ed04 {
  box-sizing: border-box;
  display: block;
  flex: 1 1 auto;
  max-width: initial;
  height: 800px;
  border: none;
  object-fit: cover;
}
