.div-style-4aacfd4a {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;
  justify-content: flex-start;
}
.div-style-4a0cc219 {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 24px;
}
