.div-style-4282fac4 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 7800px;
  background: #404040;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.div-style-dd00e07e {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 100px;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 7600px;
  padding-top: 86px;
  padding-bottom: 100px;
}
.div-style-985abbe8 {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.div-style-66dffd16 {
  flex: 0 0 auto;
  padding-left: 244px;
}
.div-style-3327eef2 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 110px;
  padding: 12px 20px;
  overflow: hidden;
  background: #5340ff;
  border: 1px solid #5340ff;
  border-radius: 8px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}
.p-style-6d2ccced {
  flex: 0 0 auto;
  padding: 0;
  margin: 0;
  font: 600 16px Lexend, sans-serif;
  color: white;
}
.div-style-3b796b87 {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.div-style-2502fe9d {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
  padding-left: 298px;
}
.div-style-804acb41 {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 110px;
  padding: 12px 20px;
  overflow: hidden;
  background: #5340ff;
  border: 1px solid #5340ff;
  border-radius: 8px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}
.div-style-a416156e {
  flex: 0 0 auto;
  padding-left: 390px;
}
.div-style-bda1af86 {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.div-style-dd083a53 {
  flex: 0 0 auto;
  padding-right: 48px;
  padding-left: 371px;
}
.div-style-d8e30d26 {
  flex: 0 0 auto;
  padding-top: 14.5px;
}
.div-style-f4ae684 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  background: white;
}
