.div-style-26dd21fd {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: initial;
  height: 126px;
  padding-top: 18.5px;
  padding-right: 14px;
  padding-left: 14px;
  margin-right: -18.5px;
  background: url("/assets/image_71876f33.png") 50% / cover no-repeat;
}
.div-style-e3102695 {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 45px;
  height: 108px;
}
.img-style-fe3cebc6 {
  display: block;
  flex: 0 0 auto;
  max-width: initial;
  height: 4px;
}
.div-style-ff86d5b7 {
  flex: 0 0 auto;
  padding-right: 11.5px;
  margin-top: 34px;
}
.div-style-71eab5dc {
  padding-right: 23.5px;
}
.div-style-7f65e237 {
  display: flex;
  width: 10px;
  height: 10px;
  color: #312a46;
}
.div-style-d6f7a09e {
  padding-left: 23.5px;
  margin-top: -5.5px;
}
.img-style-14164331 {
  box-sizing: border-box;
  display: block;
  width: 48px;
  max-width: initial;
  height: 80px;
  margin-left: -6.5px;
}
