.div-style-297769ca {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  gap: 125px;
  align-items: center;
  justify-content: flex-start;
}
.div-style-2fa6413c {
  box-sizing: border-box;
  flex: 0 0 auto;
  width: 476px;
  height: 397px;
}
