.div-style-d0098c97 {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  align-items: stretch;
  justify-content: flex-end;
  width: 240px;
  padding-bottom: 87px;
  margin-left: -219px;
}
