.div-style-95a2a2e2 {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 80px;
  align-items: center;
  justify-content: flex-start;
  margin-top: -849px;
}
.div-style-4b33d4cb {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  gap: 97px;
  align-items: flex-start;
  justify-content: flex-start;
}
.div-style-4ad7384c {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1170px;
  height: 427px;
}
.div-style-7ac8d200 {
  flex: 0 0 auto;
  padding-bottom: 107px;
}
.img-style-cd72b130 {
  box-sizing: border-box;
  display: block;
  width: 385px;
  max-width: initial;
  height: 304px;
  margin-left: -7.75px;
}
.img-style-5ba51da3 {
  box-sizing: border-box;
  display: block;
  flex: 0 0 auto;
  width: 1170px;
  max-width: initial;
  height: 2px;
}
