.div-style-450dcca7 {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
}
.p-style-37475d8f {
  flex: 0 0 auto;
  padding: 0;
  margin: 0;
  font: 500 20px Lexend, sans-serif;
  color: #101828;
}
