.div-style-79b01bce {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
}
.div-style-1ae7582e {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 505px;
}
.p-style-e6ee9d7f {
  flex: 0 0 auto;
  padding: 0;
  margin: 0;
  font: 600 18px/20px Lexend, sans-serif;
  color: #344054;
}
.div-style-c0bd2c27 {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
