.div-style-2acd0c8f {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  justify-content: flex-start;
}
.p-style-746e8c94 {
  flex: 0 0 auto;
  align-self: stretch;
  padding: 0;
  margin: 0;
  font: 600 14px Lexend, sans-serif;
  color: #344054;
  text-align: center;
  white-space: pre-wrap;
}
.p-style-e3eddb78 {
  flex: 0 0 auto;
  align-self: stretch;
  padding: 0;
  margin: 0;
  font: 300 14px Lexend, sans-serif;
  color: #475467;
  text-align: center;
  white-space: pre-wrap;
}
