.div-style-7ca27ba {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
}
.div-style-439bfcaa {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 24px;
  padding-bottom: 75px;
}
.div-style-ad77762 {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-right: 229px;
  padding-left: 229px;
  margin-left: 4px;
  background: white;
  border-radius: 16px;
}
.div-style-8724c4ca {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding-top: 80px;
  padding-bottom: 30px;
}
