.div-style-af2f0832 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.div-style-6edbc758 {
  box-sizing: border-box;
  flex: 0 0 auto;
  width: 198px;
  height: 595px;
  background: white;
  border-radius: 16px;
}
