.div-style-f823d023 {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  padding-right: 28px;
  padding-left: 28px;
}
.div-style-3c2060b0 {
  box-sizing: border-box;
  flex: 0 0 auto;
  width: 1px;
  height: 75px;
  border-left: 1px solid #00005c;
}
