.div-style-e6cc77c5 {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  gap: 119px;
  align-items: center;
  justify-content: flex-start;
}
.img-style-105914a8 {
  box-sizing: border-box;
  display: block;
  flex: 0 0 auto;
  width: 476px;
  max-width: initial;
  height: 407px;
}
