.div-style-1763598 {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1170px;
  padding-right: 32px;
  padding-left: 32px;
}
.div-style-65a86a4b {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  align-self: stretch;
  justify-content: flex-start;
  min-width: 1106px;
  padding: 32px;
  background: #f9fafb;
  border-radius: 16px;
}
.Button-style-8a7ca22d {
  box-sizing: border-box;
  display: block;
  flex: 0 0 auto;
  width: 160px;
  min-width: 160px;
  height: 48px;
  font: 600 16px Lexend, sans-serif;
  color: white;
  cursor: pointer;
  background: #5340ff;
  border: 1px solid #5340ff;
  border-radius: 8px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}
