.div-style-70372f6a {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: flex-start;
}
.p-style-33555644 {
  flex: 0 0 auto;
  padding: 0;
  margin: 0;
  font: 700 24px Lexend, sans-serif;
  color: #183b56;
  letter-spacing: 0.2px;
}
.img-style-a5f05b45 {
  box-sizing: border-box;
  display: block;
  flex: 0 0 auto;
  width: 1123px;
  max-width: initial;
  height: 88px;
}
