.div-style-3cf20d37 {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  align-self: stretch;
  justify-content: flex-start;
  min-width: 256px;
}
.p-style-f77d4ed0 {
  flex: 0 0 auto;
  padding: 0;
  margin: 0;
  font: 500 16px Lexend, sans-serif;
  color: #eaecf0;
}
.div-style-5283cb06 {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
}
.Button-style-fdb0cda7 {
  box-sizing: border-box;
  display: block;
  flex: 0 0 auto;
  width: 43px;
  min-width: 43px;
  height: 22px;
  font: 500 12px Lexend, sans-serif;
  color: #101828;
  cursor: pointer;
  background: #f2f4f7;
  border: none;
  border-radius: 16px;
}
