.div-style-3e5e7b3d {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.p-style-f6e3d9e5 {
  flex: 0 0 auto;
  padding: 0;
  margin: 0;
  font: 600 18px Lexend, sans-serif;
  color: #101828;
}
.p-style-42931272 {
  flex: 0 0 auto;
  padding: 0;
  margin: 0;
  font: 400 16px Lexend, sans-serif;
  color: #475467;
}
