.div-style-dead02d5 {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  align-self: stretch;
  justify-content: flex-start;
  min-width: 544px;
}
.p-style-12822156 {
  box-sizing: border-box;
  flex: 0 0 auto;
  width: 657px;
  padding: 0;
  margin: 0;
  font: 500 16px Lexend, sans-serif;
  color: #5340ff;
  text-align: left;
}
.p-style-91ced9d4 {
  flex: 0 0 auto;
  align-self: stretch;
  padding: 0;
  margin: 0;
  font: 600 60px/72px Lexend, sans-serif;
  color: #00005c;
  text-align: left;
  letter-spacing: -1.2px;
}
