.div-style-8bd129e7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.img-style-dd1aeab4 {
  box-sizing: border-box;
  display: block;
  flex: 0 0 auto;
  width: 353px;
  max-width: initial;
  height: 340px;
  margin-left: 42px;
}
