.div-style-47ad74f6 {
  box-sizing: border-box;
  flex: 0 0 auto;
  width: 308px;
  height: 246px;
  padding: 145px 11.5px 97px;
  overflow: hidden;
}
.div-style-abbc6fb8 {
  box-sizing: border-box;
  width: 103px;
  height: 3.75px;
  background: #c3d2d7;
}
