.div-style-87aa9b9d {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 1170px;
}
.img-style-2cc73043 {
  display: block;
  flex: 0 0 auto;
  max-width: initial;
  height: 144px;
}
