.div-style-79b01bce {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
}
.p-style-2257227c {
  box-sizing: border-box;
  flex: 0 0 auto;
  width: 768px;
  padding: 0;
  margin: 0;
  font: 300 12px Lexend, sans-serif;
  color: #627193;
  text-align: right;
}
