.div-style-8d57ef4f {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
}
.p-style-a1cec374 {
  box-sizing: border-box;
  flex: 0 0 auto;
  width: 576px;
  padding: 0;
  margin: 0;
  font: 600 48px/60px Lexend, sans-serif;
  color: #00005c;
  text-align: left;
  letter-spacing: -0.96px;
}
.p-style-5012c702 {
  box-sizing: border-box;
  flex: 0 0 auto;
  width: 780px;
  padding: 0;
  margin: 0;
  font: 400 20px/35px Lexend, sans-serif;
  color: #475467;
  text-align: left;
}
