.div-style-272264b8 {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 64px;
  align-items: center;
  align-self: stretch;
  justify-content: center;
  min-width: 1440px;
  padding-top: 64px;
  padding-bottom: 96px;
  background: #f9fafb;
}
.div-style-ebd3e366 {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 1280px;
  height: 640px;
  padding-right: 32px;
  padding-left: 32px;
}
.div-style-12a3ba43 {
  box-sizing: border-box;
  flex: 0 0 auto;
  width: 560px;
  height: 640px;
  margin-left: -64px;
  background: url("/assets/image_56f7d181.jpeg") 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}
