.div-style-a89b79f3 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 1450px;
  background: white;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.div-style-92ff659f {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding-top: 86px;
  padding-bottom: 129px;
}
.div-style-1230f262 {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 48px;
  align-items: center;
  justify-content: flex-start;
}
